 * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h2 {
            margin-top: 0;
            line-height: .8;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        header {
            background-color: antiquewhite;
            display: flex;
            align-items: center;
            min-height: 60px;
            padding-inline: 3rem;
            justify-content: space-between;
        }

        header ul {
            margin-right: auto;

        }

        header ul li {
            display: inline-block;
        }

        main .main-content {
            flex-grow: 1;
            background-color: rgb(255, 255, 255);
            color: rgb(192, 102, 0);
            padding: 1.5rem;
        }

        .cards {
            display: flex;
            row-gap: 30px;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            background-color: rgb(241, 222, 182);
            border-radius: 75px;
            overflow: hidden;
            width: 10px;
            display: flex;
            flex-direction: column;
        }

        .card img {
            width: 100%;
            display: block;
        }

        .card-body {
            padding: 0.5rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .card-body p {
            margin-top: 0em;
            margin-bottom: 0.5em;
            font-size: .85rem;
        }
        .boxButton{
            display: flex;
            justify-content: center;
        }

        .card-body button {
            margin-top: auto;
            background-color: rgb(255, 217, 47);
            border: none;
            font-weight: bold;
            color: rgb(107, 49, 1);
        }


        @media (min-width: 768px) {
            .cards {
                display: flex;
                row-gap: 30px;
                flex-wrap: wrap;
                justify-content: space-around;

            }
    
            .card {
                background-color: rgb(241, 222, 182);
                border-radius: 35px;
                overflow: hidden;
                width: 40%;
                display: flex;
                flex-direction: column;
            }
            
        .card-body button {
            margin-top: auto;
            border-radius: 20px;
            width: 10em;
            height: 2em;
        }
        }

        @media (min-width: 900px) {
            .card {
                width: 33.33%;
            }
        }

        @media (min-width: 1200px) {
            .card {
                width: 25%;
            }
        }